:root {
  --button: rgb(110, 181, 130);
  --bg: rgb(255, 255, 255);
  --navbar: rgba(0, 60, 67, 0.8);
  --sekunder: rgb(48, 99, 104);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
/* Untuk membuat scroll lebih enak */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
  /* min-height: 3000px; */
}

/* Download Button */
.download-buttons {
  margin-top: 0.2rem;
}

.download-buttons .btn {
  display: inline-block;
  justify-content: space-between;
  padding: 12px 12px; /* Ukuran padurl(../gambar/menu/buahsayurbg.jpg)ing lebih besar */
  margin-top: 12px;
  font-size: 16px;
  font-weight: 300; /* Buat teks lebih tebal */
  color: white;
  background-color: var(--button); /* Menggunakan warna tombol dari root */
  text-decoration: none;
  border-radius: 8px; /* Membuat sudut membulat */
  text-emphasis-position:initial ;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek tombol */
  width: 45%;
  text-align: center;
}
.download-buttons button:last-child {
  margin-right: 2; 
}

.download-buttons .btn:hover {
  background-color: var(--sekunder); /* Menggunakan warna sekunder untuk hover */
}

.btn-primary {
  background-color: #4CAF50; /* Warna hijau untuk Android */
}

.btn-primary:hover {
  background-color: #45a049;
}

.btn-secondary {
  background-color: #007bff; /* Warna biru untuk iOS */
}

.btn-secondary:hover {
  background-color: #0069d9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: var(--navbar);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.navbar .navbar-logo span {
  color: rgb(244, 206, 20);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: rgb(244, 206, 20);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem, solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
  color: rgb(244, 206, 20);
}

/* menyembunyikan elemen dengan id menu */
#menu {
  display: none;
}

/* navbar Search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: var(--navbar);
  width: 39rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  box-shadow: 3px 5px 2px rgba(0, 60, 67, 0.6);
  /* border: 0.5px solid black; */
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  background-color: var(--bg);
  color: rgb(0, 0, 0);
  padding: 1rem;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  color: rgb(255, 255, 255);
}

/* Shopping Cart */
.shoping-card {
  position: absolute;
  top: 100%;
  right: -100%;
  background-color: var(--sekunder);
  width: 30rem;
  height: 100vh;
  transition: 0.3s;
  padding: 0 1.5rem;
  color: var(--bg);
}

.shoping-card.active {
  right: 0;
}

.shoping-card .card-items {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed white;
  position: relative;
}
.shoping-card img {
  height: 6rem;
  border-radius: 50%;
}

.shoping-card h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.shoping-card .item-price {
  font-size: 1.2rem;
}

.shoping-card .remove-items {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgb(255, 255, 255) 100%),
    url("../gambar/dapur.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 2%,
    rgba(8, 131, 149, 0) 80%
  );
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 65rem;
}
.hero .content h1 {
  font-size: 4.7rem;
  color: black;
  margin-top: 5rem;
  text-shadow: 1px 1px 3px rgba(250, 250, 250, 0.5);
  line-height: 1.2;
}

.hero .content p {
  font-size: 2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 240;
  text-shadow: 1px 1px 3px rgba(250, 250, 250, 0.5);
}

.hero .content .cta {
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--button);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}
/* About and Menu Sections */
.about,
.meanu,
.contact {
  padding: 6rem 7% 1.4rem;
}

.about h2,
.meanu h2,
.contact h2 {
  text-align: center;
  font-size: 3.3rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
  flex-direction: column; 
}

.about .row .about-img {
  flex: 1 1 100%;
}

.about .row .about-img img {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.about .row .content {
  flex: 1 1 100%;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-top: 0.2rem;
}

.about .row .content p {
  font-size: 1.3rem; 
  line-height: 1.5;
}

/* Menu Section */
.meanu h2,
.contact h2 {
  font-size: 1.8rem; 
  margin-bottom: 1rem;
  margin-top: -2rem;
}
.meanu p,
.contact p {
  text-align: center;
  max-width: 100%;
  margin: auto;
  font-size: 1rem; 
  line-height: 1.5;
}

.meanu .row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
}

.meanu .row .menu-card {
  text-align: center;
  margin-top: 3rem; 
  background-color: #ffffff;
}

.meanu .row .menu-card img {
  width: 40%; 
  margin-left: 2rem;
  height: auto;
  margin: 0 auto;
}

.meanu .row .menu-card3 {
  text-align: left;
  padding: 1rem;
  border: 2px solid #666;
  background-color: #f8f8f8;
  border-radius: 20px;
}

.menu-card-img3{
  margin-left: 2rem;
  height: auto;
  margin: 0 auto;
}

.meanu .menu-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.meanu .menu-icons a {
  width: 3rem; /* Adjusted for mobile */
  height: 3rem;
  color: black;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meanu .menu-icons a:hover {
  color: white;
  background-color: var(--button);
  border: 1px solid var(--button);
}

.meanu .row .menu-card-title {
  margin-top: 0.5rem auto 0.5rem;
}

.meanu .row .menu-stars {
  padding: 0.5rem;
  color: black;
}


@media screen and (min-width: 769px) {
  .about .row {
    flex-direction: row;
  }

  .meanu .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .about .row {
    flex-direction: column;
  }
  .about .row .about-img,
  .about .row .content {
    flex: 0 0 100%;
  }

  .meanu .row {
    grid-template-columns: 1fr;
  }

  .meanu .row .menu-card img {
    width: 60%; 
    border-radius: 20%; /
  }
}

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #77b0aa;
  border-radius: 20px; /* Membuat sudut row menjadi membulat */
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px; /* Membulatkan hanya sisi kiri untuk menyatu dengan form */
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
  border-radius: 0 20px 20px 0; /* Membulatkan hanya sisi kanan */
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid rgb(227, 254, 247);
  padding-left: 2rem;
  border-radius: 10px; /* Membulatkan input group */
}

.contact .row .input-group input {
  width: 45%;
  padding: 1.2rem;
  font-size: 1.3rem;
  background: none;
  color: black;
  border-radius: 10px; /* Membulatkan input */
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--button);
  cursor: pointer;
  border-radius: 20px; /* Membulatkan tombol */
}


/* Footer */
footer {
  background-color: var(--sekunder);
  text-align: center;
  color: #fff;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: rgb(244, 206, 20);
}
footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  justify-content: center;
  padding: 0.5rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: bisque;
  font-weight: 700;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

/* Centered heading styling */
h2.text-center {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Input field styling */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Error message styling */
.error {
  color: #ff0000;
  margin-top: 10px;
}

/* Link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Centered text */
.text-center {
  text-align: center;
}

/* Margin top for spacing */
.mt-3 {
  margin-top: 20px;
}
/* Media Queries */
/* @media (max-width: 1366px){
  html{
    font-size: 75%;
  }
} */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--sekunder);
    width: 24rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
  }
  .hero {
    min-height: 30;
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 26rem;
    object-fit: cover;
    object-position: right;
  }

  .about .row .content {
    padding: 0;
  }

  .about .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .meanu p {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .hero {
    min-height: 30;
  }
}
.fade-in-text {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
